{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <center>
    <h2>Вот чему я учусь</h2>
      <aside class="col-12 col-md-6">
        <ol class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
        </ol>
      </aside><br>
      <article class="col-12 col-md-6">
      <p>Текст страницы "Технологии"</p>
    </article>
  </center>
</div>
{% endblock %} 